@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
body{
    overflow-x: hidden;
  }
.image1{
  height: 90vh;
  width: 100.5vw;
  display: flex;
}
.pic1{

    margin-left: -1vw;
    margin-top: -0.9vh;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  top: 4vh;
  left:30vw;
  position: absolute;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
}
.grid-item {
  padding: 26px;
  font-size: 30px;
  text-align: center;
}
.quote{
  top:50vh;
  left: 32vw;
  position: absolute;
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
}
.logo{
    top:1vh;
    position: absolute;
    width: 50vw;
    height: 50vh;
}
.heading{
  background: #EADEB6;
  background: -webkit-linear-gradient(to bottom, #EADEB6 0%, #D3A425 85%, #B1871A 48%);
  background: -moz-linear-gradient(to bottom, #EADEB6 0%, #D3A425 85%, #B1871A 48%);
  background: linear-gradient(to bottom, #EADEB6 0%, #D3A425 85%, #B1871A 48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
font-weight: bold;
font-size: 40px;
position: absolute;
top:130vh;
left:50vw;
font-family: 'Roboto Slab', serif;
}
.position{
  top:130vh;
  position: absolute;
}
.book2{
  left:10vw;
  position: absolute;
  top:-1vh;
}
.book1{
  left:20vw;
  position: absolute;
  top:16vh;
  z-index: 1;
}
.book3{
  left:1vw;
  position: absolute;
  top:27vh;
  z-index: 0.5;
}
.about{
  text-align: left;
  left:50vw;
  position: absolute;
  top:140vh;
  font-family: 'Lora', serif;
  font-weight: 300;
  font-size: 30px;
line-height: 6vh;
}
#buto{
  top:205vh;
  left:50vw;
  position: absolute;
  background-image: linear-gradient(#FFA800, white);
  height: 5vh;
  width: 10vw;
  border-radius: 35px;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight:bold;
  font-size: 20px;
  cursor: pointer;
}
#myDIV {
  width: 100%;
  text-align: center;
  background-color: none;
  top: 200vh;
  position: absolute;
  left:10vw;
  display:none;
  font-family: 'Lora', serif;
  font-weight: 300;
  font-size: 30px;
line-height: 6vh;
}
.cont{
  top:300vh;
  position: absolute;
}
.col1{
  left:20vw;
  position: absolute;
}
.col2{
  left: 50vw;
  position: absolute;
  width: 30vw;
  font-size: 20px;
  font-weight:
  font-family: 'Lora', serif;

}
.col4{
  left:60vw;
  position: absolute;
}
.col3{
  left: 20vw;
  position: absolute;
  width: 30vw;
  font-size: 20px;
  font-weight:
  font-family: 'Lora', serif;

}
.row2{
  top: 50vh;
  position: absolute;
}
.row3{
  top: 100vh;
  position: absolute;
}
  .row4{
    top: 150vh;
    position: absolute;
  }
  .row5{
    top:200vh;
    position:absolute;
  }
  #course{
    top:-40vh;
    position: absolute;
    left:40vw;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
    font-size: 50px;
    background: #EADEB6;
    background: -webkit-linear-gradient(to bottom, #EADEB6 0%, #D3A425 85%, #B1871A 48%);
    background: -moz-linear-gradient(to bottom, #EADEB6 0%, #D3A425 85%, #B1871A 48%);
    background: linear-gradient(to bottom, #EADEB6 0%, #D3A425 85%, #B1871A 48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .d1{
    left:82vw;
    top:130vw;
    position: absolute;
  }
  .d2{
    top:190vw;
    position: absolute;
  }
  .video{
top:570vh;
    position: absolute;
    height: 80vh;
    width: 100.5vw;
    background-image: linear-gradient( white,#FFA800);
  }
  /* Slideshow container */
.slideshow-container {
  max-width: 100vh;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -11vw;
  position: absolute;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}
.vid{
  width:120vh;  height:70vh;
  padding-left: -80vw;
}

@media screen and (max-width: 500px) {
  #img1{
    height: 60vh;
    width: 1030.5vw;
  }
}
